body
{
  display: flex;
  justify-content: center;
  // align-items: center;
  background: url("hills.jpg") fixed;
}

.container
{
  display: flex;
  background-color: white;
  width: 40rem;
  margin-top: 10rem;
  height: 25rem;
  border-radius: 5px;
  border: 1px black solid;
  text-align: auto;

}

.container > div
{
  // padding: 20px;
}

.formulaire
{
  padding: 20px;
  margin-top: 25px;
}

.container > div:first-child
{
	background-color: rgb(48, 149, 207);
  width: 55%;
  color: white;
  border-radius: 5px 0px 0px 5px;
  padding-left: 20px;
  // text-align: center;

}

.container form input[type=submit]
{
  background-color: rgb(48, 149, 207);
  color: white;
  height: 30px;
  width: 173px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 5px;
}

.loginbtn
{
  background-color: rgb(170, 170, 170);
  height: 53px;
  width: 270px;
  color: white;
  margin-top: 85px;
  text-align: center;
  padding-top: 30px;
}


.field
{
  // width: 300px;
}

ul
{
  list-style-type:none;
  // background-image: <i class="fas fa-unlock-alt"></i>
}

h6
{
  font-size: 0.7em;
  font-style: italic;
}
